@import '../../global/global.css';

main {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 72px;
}

.section-1 {
    display: flex;
    flex-direction: column;

    .txt {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 36px;
    
        h1 {
            font-size: 48px;
            font-weight: 600;
        }
    
        p {
            font-size: 16px;
            color: var(--gray-100);
        }
    }
    
    .link {
        display: flex;
        gap: 16px;

        input {
            width: 480px;
            height: 48px;

            padding-left: 44px;

            background-image: url(../../../images/link-400.png);
            background-repeat: no-repeat;
            background-position: 16px center;
            background-size: 16px 16px;

            background-color: var(--gray-800);
            border: 1px solid var(--gray-600);
            border-radius: 10px;
            outline: none;

            color: var(--gray-100);
            font-size: 16px;
        }

        input::placeholder {
            color: var(--gray-400); 
            font-size: 16px;
        }

        input:focus {
            border-color: var(--gray-100);
            background-image: url(../../../images/link-100.png);
        }

        button {
            width: 192px;
            height: 48px;

            background-color: var(--gray-500);
            border-radius: 10px;

            color: var(--gray-100);
            font-size: 16px;
            font-weight: 500; 
            
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        button:hover {
            background-color: var(--gray-200);
            color: var(--gray-900);
        }
    }

    #erro {
        opacity: 0;
        padding: 10px;
    }

    #erro-txt {
        color: var(--danger);
        font-size: 12px;
        font-weight: 400;
    }

}


.section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-row;

    margin-top: 32px;
}

#qr-code-area {
    text-align: center;
}

#qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 212px;
    width: 212px;

    border: 6px solid var(--gray-600);
    border-radius: 6px;
    
    box-sizing: border-box;   
    padding: 10px;
    margin-bottom: 10px;

    background-color: var(--gray-800);
}

#img-txt {
    color: var(--gray-400);
    font-size: 16px;
    font-weight: 500;

    text-align: center;

}

#div-btn {
    height: 248px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}

.btn {
    background-color: var(--gray-500);
    border-radius: 6px;
    
    padding: 6px;
    margin-bottom: 8px;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: var(--gray-200);
}

.btn img {
    transition: opacity 0.3s;
}
  
#copy-btn:hover img {
    content: url('../../../images/copy-hover.png'); /* Troca a imagem */
}
  
#download-btn:hover img {
    content: url('../../../images/download-hover.png'); /* Troca a imagem */
}

#btn-txt {
    display: inline-block;  /* Faz com que o span tenha comportamento de bloco */
    height: 40px;
    max-height: 40px;
    max-width: 200px;  /* Define a largura máxima */
    word-break: break-word;  /* Quebra as palavras longas quando necessário */
    
    color: var(--gray-200);
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#btn-txt.visible {
    opacity: 1;
}


