:root {
    /* Cores */
    --preto: #000;
    --branco: #fff;
    --gray-100: #DAE4F2;
    --gray-200: #C8D0DA;
    --gray-400: #6F7D90;
    --gray-500: #2A313C;
    --gray-600: #21252C;
    --gray-800: #13161B;
    --gray-900: #0F1216;
    --danger: #F05D6C;

    /* Fontes */
    --fonte-primaria:  'Poppins', sans-serif;
}